*{
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    background: #202020;
    cursor: pointer;
}

.menu{
    max-width: 1200px;
    margin: auto;
    cursor: pointer;
}
.button_div, .menu_close, .menu_open{
    display: none;
}
.menu_ul{
    width: 100%;
    height: 45px;
    background: #202020;
    top: 0;
    left: 0;
    z-index: 10;
}
.menu_ul.active{
    transform: translateX(-800%);
}
.ul{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
li,.links{
    padding: 0 12px;
}
.links{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}
.links:hover{
    text-decoration: none;
    color: red;
}
.menu_ul ul {
    display: flex;
}
/*************************************************************************************************/

@media(max-width: 840px) {
    .button_div, .menu_close, .menu_open{
        display: block;
    } 
    .menu_ul{
        width: 50%;
        height: 100vh;
        background: #202020;
        transform: translateX(0%);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        transition: 1s;
    }
    .menu_ul ul {
        flex-direction: column;
    }
}