*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.header{
    width: 100%;
    background: black;
}

.imgh{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    color: white;
    
}
.container--{
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
}

.nav_bar{
    width: 100%;
    height: 80px;
    cursor: pointer;
}
.bg-blue{
    background: rgb(43, 43, 255);
}
.navbar-nav{
    text-align: center;
    justify-content: center;
    margin: auto;
}

.link:hover{
    color: rgb(0, 255, 251);
    font-size: 21px;
}
.nav-link{
    color: white !important;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1s;
}
.img-logo{
    width: 80px;
    height: 80px;
}
.nav-link:hover{
    color: black !important;
}
/**********************************/
.carousel{
    width: 100%;
    height: 80vh !important;
}
.d-block{
    height: 80vh;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: red !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.title-1{
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 24px;
    display: block !important;
}
.text-1{
    color: red;
    font-weight: 400;
    font-style: 20px;
    display: block !important;
}


/***********************************/

@media (max-width: 1000px) {
    ul {
        display: flex;
        margin-right: 262px;
    }
    .d-block {
        height: 90vh;
    }
    .carousel {
        width: 100%;
        height: 90vh !important;
    }
    .imgh {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        color: white;
    }
    
    .img_div {
        margin-left: 26px;
    }
    
}

@media (max-width: 651px) {
    ul {
        display: flex;
        margin-right: 98px;
    }
    .link {
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        margin: 0px 17px;
        font-family: serif;
        font-weight: 700;
        transition: 1s;
        text-decoration: none;
    }
    .imgh {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        color: white;
    }
    .img_div {
        margin-left: 26px;
    }
}

@media (max-width: 556px) {
    ul {
        display: flex;
        margin-right: 70px;
    }
    .img_div {
        margin-left: 36px;
    }
}

@media (max-width: 473px) {
    .imgh {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        color: white;
    }
    .link {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0px 10px;
        font-family: serif;
        font-weight: 700;
        transition: 1s;
        text-decoration: none;
    }
    ul {
        display: flex;
        margin-right: 61px;
    }
}

@media (max-width: 350px) {
    .img-logo {
        width: 38px;
        height: 36px;
    }
    .nav_bar {
        width: 100%;
        height: 62px;
        cursor: pointer;
    }
    .d-block {
        height: 59vh;
    }
    .carousel {
        width: 100%;
        height: 58vh !important;
    }
}